body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: beige;
}


.calculator-body{
    background-color: #0E2038;
    width: 640px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style:groove;
    border-color: #060e18;
}

.display{
    background-color: white;
    width: 500px;
    height: 160px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #060e18;
    background-color: rgb(102, 131, 102);
}

@font-face {
    font-family: 'digital-7';
    src: url(digital-7.ttf);
}


.history,
.output{
    font-family: 'digital-7', 'helvetica';
    text-align: right;
    align-self: flex-end;
}

.history{
    border-style: none;
    width: 320px;
    height: 40px;
    line-height: 40px;
    margin: 8px 32px 8px 8px;
    font-size: 32px;
}

.output{
    border-style: none;
    width: 480px;
    height: 60px;
    line-height: 60px;
    margin: 8px;
    font-size: 48px;
}

.buttons{
    border-style: none;
    width: 520px;
    height: 500px;
    display: inline-block;
}


button{
    height: 72px;
    width: 92px;
    margin: 4px;
    font-size: 32px;
    color: lightgray;
    border-color: #0E2038;
    background-color: #2b5183;
    border-width: 3px;
    border-radius: 4px;
}

#delete {
    width: 196px;
}

#sign,
#decimal,
.number {
    color:#0E2038;
    background-color: rgb(179, 179, 179);
}

#inv{
    background-color: rgb(70, 0, 0);
    color: lightgray;
    box-shadow: none;
    outline: none;
}

#\/,
#\*,
#\-,
#\+,
#\= {
    background-color: rgb(0, 153, 255);
}